<!DOCTYPE html>
<html>
<head>
  <title>Fayechat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag "http://localhost:9292/faye.js" %>
<%= yield %>

</body>
</html>
